html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
}
.top{
    display: flex;
    top: 0%;
    left: 0%;
    right: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 0, 43);
    background-color: white;
    box-shadow: 0 5px 5px -8px;
    text-align: center;
    position: fixed;
}
.top-left{
    display: flex;
    margin-left: 350px;
    margin-top: 17px;
}
.tp{
    margin-left: 40px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 43);
}
#name{
    margin-left: 150px;
    cursor: pointer;
}
.hi{
    font-size: 40px;
    margin-top: 100px;
    color: rgb(0, 0, 43);
    font-weight: bold;
    margin-left: 150px;
}
#clr{
    color: blue;
}
#nm{
    font-size: 35px;
}
#view{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(69, 69, 238);
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
#hey{
    margin-top: 100px;
    font-weight: bolder;
    color: rgb(57, 57, 175);
    text-align: center;
    margin-bottom: 40px;
}
#resume{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(69, 69, 238);
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.mid-top{
    margin-left: 150px;
    margin-right: 200px;
    text-align: justify;
    word-spacing: 3px;
    line-height: 1.8;
}
#iam{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 43);
}
#im{
    font-size: 18px;
    color: gray;
}
.skill{
    display: flex;
    margin-left: 150px;
    color: rgb(0, 0, 43);
}
#para{
    font-size: 25px;
    font-weight: bold;
    margin-top: 0%;
}
#image1{
    height: 305px;
    width: 500px;
    margin-left: 30px;
}
.contact{
    text-align: center;
}
input{
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 25px;
}
#big{
    width: 300px;
    height: 180px;
    font-weight: bold;
}
#send{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px;
    background-color: rgb(69, 69, 238);
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
#skl{
    display: flex;
    border: 2px solid;
    box-shadow: 0 0 10px -6px;
    border: none;
    width: 600px;
    font-weight: bold;
    padding-left: 20px;
}
#per1{
    padding-left: 500px;
}
#per2{
    padding-left: 507px;
}
#per3{
    padding-left: 486px;
}
#per4{
    padding-left: 497px;
}
#per5{
    padding-left: 440px;
}
#pro-img{
    height: 150px;
    width: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#pro-img:hover{
    transform: scale(1.05);
}
.flex-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 20px;
}
#img-align{
    text-align: left;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 0 0 10px -6px;
    border: none;
    height: 450px;
    padding-bottom: 25px;
}
#head{
    text-align: center;
    color: rgb(69, 69, 238);
}
#pr{
    text-align: justify;
    word-spacing: 2px;
    line-height: 1.8;
    padding-left: 10px;
    padding-right: 10px;
}
#view-pro{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: rgb(69, 69, 238);
        border: none;
        color: white;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
}
.al-btn{
    margin-top: 50px;
}
.ag-btn{
    margin-top: 21px;
}
.bottom{
    background-color: rgb(1, 1, 41);
    text-align: center;
}
#para1{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
#icn{
    color: white;
    font-size: 23px;
    margin-bottom: 20px;
}
.bot{
    padding-bottom: 70px;
    word-spacing: 25px;   
}
.side{
    display: flex;
}
#pic{
    height: 320px;
    width: 250px;
    margin-top: 110px;
    margin-left: 250px;
}